# Enable mod_rewrite
RewriteEngine On
RewriteBase /

# Rewrite rule for the CREATE endpoint
RewriteRule ^api/?$ api.php [QSA,NC,L]

# Rewrite rule for the READ, UPDATE, and DELETE endpoints
RewriteRule ^api/([0-9]+)/?$ api.php?id=$1 [QSA,NC,L]
